/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";
 
body{
    background: image-url('bg_image.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.space { margin:0; padding:0; height:50px; }

.jumbo {
    background-image: image-url('bamboo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }

.jumbo2{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding: 10px;
    margin: 5px;

}
  .carousel-inner{
      height:300px;
      margin-top: 30px;
  }

  .carousel-caption {
    top: 10%;
    
}

