<!DOCTYPE html>
<html>
  <head>
    <title>MahjongSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    	
    <meta name="viewport" content="initial-scale=1.0"/>
  </head>




  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand">
        <img src="https://www.singaporemint.com/media/catalog/product/cache/978d88c4fa4223d1f4b49319a9c20eba/F/5/F535-1_2.png" width="50" height="50" alt="">
      
    </a>
    <a class="navbar-brand">Poznański klub mahjonga </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


          <li class="nav-item">
            <a class="nav-link" href=<%= welcome_index_path%>> Strona domowa </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=<%= articles_path%>>Archiwum</a>
          </li>

          <% if signed_in? %>
            <% if current_user.is_admin%>
              <li class="nav-item">
                <a class="nav-link" href=<%= new_article_path%>>Nowy artykuł</a>
              </li>
            <% end %>
          <% end %>

          <% if signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href=<%= matches_path%>> Gry</a>
          </li>
          <% end %>
          
          <% if signed_in? %>
            <li class="nav-item">
              <a class="nav-link"href=<%= new_match_path%>>Nowa gra </a>
          </li>
          <% end %>

           <% if signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href=<%= leagues_path%>> Ligi</a>
          </li>
          <% end %>

          <li class="nav-item">
            <a class="nav-link" href=<%= new_contact_path%>>Kontakt</a>
          </li>

        </ul>
    <ul class="navbar-nav">
    
            <li class="nav-item">
              <% if signed_in? %>
                Zalogowany jako:  <%= link_to current_user.email, edit_user_path(current_user) %>
                <div class="btn btn-danger"> <%= link_to 'Wyloguj', sign_out_path, method: :delete %> </div>
              <% else %>
                <%= link_to 'Zaloguj', sign_in_path %>
              <% end %>

              <%if signed_in?%>
                <%= image_tag current_user.image.url(:icon) %>
              <%end%>

              <div id="flash">
                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>
              </div> 
            </li>
    </ul>

    </div>
  </nav>

  <div class="container-fluid">
    <%= yield %>
  </div>



<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Testowa stronka ruby on rails:
    <a> Gałecki Bartosz</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->